<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392923544501-fu57kv0jf6dbp2h0tdrq5u02b40hiccg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392923544501-fu57kv0jf6dbp2h0tdrq5u02b40hiccg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>392923544501-tviv5fs4mai0i986gpd66jhnj2r7ff7v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCo1QvPdtHqvOWVDd2mEGmtfEscYTf5MuY</string>
	<key>GCM_SENDER_ID</key>
	<string>392923544501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asclepius.admin</string>
	<key>PROJECT_ID</key>
	<string>asclepius-9cd3c</string>
	<key>STORAGE_BUCKET</key>
	<string>asclepius-9cd3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392923544501:ios:525bf09aa6a831103a77fc</string>
</dict>
</plist>